div {
  height : 800px;
  display: flex;
}

#sectionOne {
  background-color: chartreuse;
  justify-content: space-between;
  align-items: center;
}

#sectionTwo {
  background-color: pink;
  justify-content: space-between;
  align-items: center;
}

#sectionThree {
  background-color: brown;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sectionFour {
  background-color: turquoise;
}

img {
  width : auto;
  height: 200px;
}

.caption {
  font-size: 12px;
}
#soup {
}
.sandwich{
  justify-content: space-between;
  align-items: center;
}

.hidden{
  opacity: 0;
  animation: hide 1000ms forwards;
}
.hidden2{
  opacity: 0;
  animation: hide 1000ms forwards;
}
.hidden3{
  opacity: 0;
}
.hidden4{
  opacity: 0;
}
.showAnimation {
  /* opacity: 0; */
  animation: show 1000ms forwards;
}

.hideMe {
  animation: hide 1000ms forwards;
}

@keyframes show {
  /* animation-duration: 600ms; */
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes hide {
  /* animation-duration: 600ms; */
  from {opacity: 1;}
  to {opacity: 0;}
}
